@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --green-cl: #7ED994;
  --red-cl: #D92211;
  --white-cl: #D9D6C7;
  --black-cl: #0B0D0C;
}

body{
  min-height: 100vh;
  color: var(--black-cl);
  font-family: 'Roboto', sans-serif;
}